<div class="second-nav">
  <div class="container grid-4">

    <!-- 1) Logo (Align Right) -->
    <div class="logo cell-right">
      <a routerLink="/client" class="logo-link" aria-label="Rabobank Home">
        <img src="assets/logo/dummy-logo.svg" alt="dummy-logo" />
      </a>
    </div>

    <!-- 2) Menu (Align Left) -->
    <nav class="main-menu cell-left" aria-label="Main">
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/client">Client<mat-icon class="caret" fontIcon="expand_more"></mat-icon>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/client">Themes<mat-icon class="caret" fontIcon="expand_more"></mat-icon>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/client">Our Bank<mat-icon class="caret" fontIcon="expand_more"></mat-icon>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/client">Help<mat-icon class="caret" fontIcon="expand_more"></mat-icon>
          </a>
        </li>
      </ul>
    </nav>

    <!-- 3) Search (Align Right) -->
    <div class="search cell-right">
    </div>

    <!-- 4) Login (Align Left) -->
    <div class="login cell-left">
      <button mat-stroked-button class="login-btn" type="button" (click)="openLogin()">Log in</button>
    </div>


  </div>
</div>